package {{ package_name }};

import io.fizzbee.mbt.types.RoleMapper;
import io.fizzbee.mbt.types.Role;
import io.fizzbee.mbt.types.RoleId;
import io.fizzbee.mbt.types.NotImplementedException;
import io.fizzbee.mbt.types.Arg;
import java.util.Map;

public class {{ model_name }}ModelAdapter implements {{ model_name }}Model, RoleMapper {

    @Override
    public void init() throws NotImplementedException {
        throw new NotImplementedException();
    }

    @Override
    public void cleanup() throws NotImplementedException {
        throw new NotImplementedException();
    }

    @Override
    public Map<RoleId, Role> getRoles() {
        return Map.of();
    }

    {%- for action in file.actions %}
    {%- if action.name != "Init" %}
    @Override
    public Object action{{ action.name }}(Arg[] args) throws NotImplementedException {
        throw new NotImplementedException();
    }
    {%- endif %}
    {%- endfor %}
}
